<%!-- Animated opalescent background --%>
<div class="opal-bg"></div>
<div class="flex flex-col h-screen overflow-hidden">
  <%!-- Corner Navigation System REMOVED --%>
  

  <main class="text-white relative flex-1 overflow-y-auto overflow-x-hidden"><.flash_group flash={@flash} />{@inner_content}</main>
</div>
